<main>

  <h1><%= @question.title %></h1>

<% if !@question.comments.empty? %>
  <ul class="question-comments-list">
    <%= render @comments %>
  </ul>
  <% end %>
<% if !@question.answers.empty? %>
  <ul class="question-comments-list">
    <%= render @answers %>
  </ul>
  <% end %>


</main>

