header {
  background: #2F2F2F;
  height: 4em;
  padding: 2em 3em;
  width: 90%;

  #logo a {
    color: #EBEBEB;
    border: none;
    font-size: 2em;
  }

  #logo a:visited {
    border: none;
  }

  #logo {
    float: left;
  }

  #logo div {
    display: block;
    float: left;
  }

  #so-img img {
    height: 4em;
  }
}


.header-nav {
  position: absolute;
  top: 3.5em;
  right: 7em;

  a {
    background-color: #858d93;
    padding: 4px 10px 5px;
    margin: 0.15em;
    color: white !important;
    font-family: 'Helvetica Neue',Helvetica,Arial,sans-serif;
    font-size: 14pt;
  }

  a:hover {
    background-color: #FF9500;
    border: none;
  }
}

.content {
  margin: 5em 12em 3em 12em;
}
