. {
  box-sizing: border-box;
}

body {
  background-color: #FAF0E6;
}

#nav-bar {
  font-size: 14px;
  color: red;
  width: 100%;
  background-color: #FFFAFA;
  border: 2px solid #FAFAFA;
  display: inline-block;
  text-align: right;
}

#logo {
  text-align: left;
}

.link {
  display: inline;
  text-decoration: none;
  color; black;
}

a:link {
  text-decoration: none;
  color: black;
}

a:visited {
  color:black;
}