body {
  background-color: #FAF0E6;
}

#nav-bar {
  font-size: 14px;
  color: red;
  width: 100%;
  background-color: #FFFAFA;
  border: 2px solid #FAFAFA;
  display: inline-block;
  text-align: right;
}

.link-c {
  background: lightgray;
  border: 2px solid lightgray;
  border-radius: 25px;
  font-size: 2em;
  margin: 1% 20%;
  padding: .25em .25em;
  position: absolute;
  text-align: center;
  text-decoration: none;
  width: 25%;
}

.link-d {
  background: lightgray;
  border: 2px solid lightgray;
  border-radius: 25px;
  font-size: 2em;
  margin: 1% 47%;
  padding: .25em .25em;
  position: absolute;
  text-align: center;
  text-decoration: none;
  width: 25%;
}

.link-a {
  background: lightgray;
  border: 2px solid lightgray;
  border-radius: 25px;
  font-size: 2em;
  margin: 1% 20%;
  padding: .25em .25em;
  position: absolute;
  text-align: center;
  text-decoration: none;
  width: 25%;
}

.link-b {
  background: lightgray;
  border: 2px solid lightgray;
  border-radius: 25px;
  font-size: 2em;
  margin: 1% 47%;
  padding: .25em .25em;
  position: absolute;
  text-align: center;
  text-decoration: none;
  width: 25%;
}

a:hover {
  background-color: #FF9500;
  border: none;
}

#content {
  padding-top: 5em;
}

.new_user {
  padding: 1em;
  text-align: center;

}

#user_username, #user_password {
  padding: 1em;
  border-radius: 5px;
}

input[type=submit] {
  padding:10px 15px;
  background:#ccc;
  border:0 none;
  margin: 1%;
